/*CONTEÚDO DAS INFORMAÇÕES -----------------------------------------*/
#sup{
    display: flex;
}

#infos{
    padding: 20px 15px 0px 20px;
}

#poster {
    width: 180px;
    height: 270px;
    padding-top: 20px;
    padding-left: 15px;
}

#year{
    padding-bottom: 20px;
}
p#scenes{
    padding-bottom: 20px;
}


/*BOTÃO ANTISPOILER ------------------------------------------------*/ 
#antispoiler{
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
#antispoiler:hover {
    background-color: var(--cor2);
    border: 2px solid var(--cor3);
    transition: .3s;
}
#antispoiler:active{
    background-color: var(--cor4);
    border: 2px solid var(--cor2);
    color: var(--cor1);
    transition: 0s;
}


/*CAMPO DOS COMENTÁRIOS --------------------------------------------*/
#div_description {
    display: none;
    margin: 0px 20px;
    font-family: inherit; /* Herda a fonte do pai */
    font-size: 15px;
    box-sizing: border-box;
    overflow-x: auto;
}
#div_description > hr {
    margin: 0px 0px 20px 0px;
}

/*CAMPO DOS COMENTÁRIOS --------------------------------------------*/
#profilePicture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0px 10px 0px 0px;
}
.comments{
    display: flex;
    margin-bottom: 25px;
}
.comments > div{
    border-radius: 10px;
    background-color: var(--cor2);
    padding: 10px 15px;
}
#description {
    margin: 10px 0px;
    white-space: pre-line;
    line-height: 1.2;           /*Ajuda para ler*/
    font-family: inherit;         /* Mantém a fonte do site */
}
.username{
    text-decoration: underline;
}

/*BOTÕES DE LIKE DE DISLIKE --------------------------------------*/
.likesCount, .dislikesCount{
    margin-right: 25px;
}
.thumb_up, .thumb_down{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.thumb_up:hover, .thumb_down:hover{
    background-color: var(--cor3);
}
.thumb_up:active, .thumb_down:active{
    background-color: var(--cor4);
    color: var(--cor1);
}
.liked{
    color: var(--cor4) !important;
}
.disliked{
    color: red !important;
}